body
{
	background-color:#efefef;
}
.question_publish
{
	margin:45px;
	background-color:#fff;
}
.publish
{
	float:right;
	margin-bottom:5px;
}
.waring
{
	text-align:center;
	color:#f00;
	font-size:18px;
}
.taglike
{
	display:none;
	margin-top:15px;
}
.tabs1
{
	cursor:pointer;
	font-size:55px;
	margin-top:10px;
 
}
.tabs2
{
	cursor:pointer;
	font-size:55px;
	margin-top:10px;
}
.tabsother
{
	cursor:pointer;
	font-size:55px;
	margin-top:10px;
}
 
.tabs1a
{
	margin-right:20px;
}
.tabs2a
{
	margin-right:20px;
}
a{
	text-decoration:none;
    color:#fff;  
}
a:hover{
	text-decoration:none;
}
a:link    {	text-decoration:none;}
a:visited {	text-decoration:none;}
a:hover   {	text-decoration:none;}
a:active  {	text-decoration:none;}
.facta
{
	color:#337AB8;
}
 