.marigins{
   margin:0px;
   padding:0px;
} 
.comment{
    margin-top:25px;
    margin-bottom:25px;
}
.btn-reply
{
	float:right;
	margin-bottom:10px;
}
.media-heading
{
	margin-top:10px;
}
.conmargin
{
	margin-bottom:5px;
	 
}
 
.iconmenu
{
	color:#999;
	margin-top:10px;
}
.iconmenu .icon{
		margin-right:10px;
	    font-size:15px;
	    cursor:pointer;
}
.iconmenu .icon:hover{
	color:#499ef3
}
.cont{
	margin-bottom:10px;
	padding-bottom:5px;
	padding-top:2px;
	border-bottom:1px solid #eee;
}
.editmove{
	padding:0px 0px;
	margin:0px;
}
.active{
  color:#499ef3;
} 
.secondcomment{
	margin-top:20px;
		border-bottom:1px solid #eee;
	
}
.cop{
	border:8px solid #eee;
}
.committhis
{
	margin:10px 0px;
}
.commitsubmits
{
	margin-top:20px;
}
.commitsbutton
{
	margin:10px 0px;
}
.tagblog
{
	margin-right:10px;
}
.requestion
{
	list-style:none;
	text-decoration:none;
	padding-left:0px;
}