<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Publish-Apple</title>
<link rel="stylesheet"
	href="https://localhost:8080/BPJprojects/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://localhost:8080/BPJprojects/css/bootstarp-theme.min.css" />
<link rel="stylesheet"
	href="https://localhost:8080/BPJprojects/css/communty.css" />
<script src="https://localhost:8080/BPJprojects/js/jquery-3.4.1.min.js"
	type="application/javascript"></script>
<script src="https://localhost:8080/BPJprojects/js/bootstrap.min.js"
	type="application/javascript"></script>
<script src="https://localhost:8080/BPJprojects/js/publish.js"
	type="application/javascript"></script>

</head>
<body>
	<div th:insert="~{navgition :: nav}"></div>

	<div class="container-fluid question_publish">
		<div class="row">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
				<h2>
					<span class="glyphicon glyphicon-plus"></span>Launch
				</h2>
				<form action="/BPJprojects/submitpublish" method="post">
					<input type="hidden" name="id" th:value="${id}" />
					<div class="form-group">
						<label for="title">Question Title</label>
						<!-- required oninvalid="setCustomValidity('Please write in this field.')" -->
						<input type="text" class="form-control" th:value="${title}"
							id="title" name="title" pattern=".{10,100}" required
							oninvalid="setCustomValidity('Please write in this field.String lengths range from 10 to 100')"
							oninput="setCustomValidity('')" placeholder="Question Title" />
					</div>
					<div class="form-group">
						<label for="title">Question Supplement</label>
						<textarea name="des" id="des" class="form-control"
							th:text="${des}" cols="38" rows="10"></textarea>
					</div>
					<div class="form-group">
						<label for="title">Add Tag</label> <input type="text"
							class="form-control" id="tag" name="tag" th:value="${tag}"
							placeholder="Please enter Tag and use’,‘separate"
							pattern=".{6,30}" required
							oninvalid="setCustomValidity('Please write in this field,String length range from 6 to 30')"
							oninput="setCustomValidity('')" onfocus="showselectTag()" />

						<div class="taglike">

							<div>

								<!-- Nav tabs -->
							  	<ul role="tablist" class="nav nav-tabs">
									<li role="presentation" class="active"><a href="#home"
										aria-controls="home" role="tab" data-toggle="tab">country</a></li>
									<li role="presentation"><a href="#profile" data-toggle="tab" aria-controls="profile">topic</a></li>  
									<li role="presentation"><a href="#messages"
										aria-controls="messages" role="tab" data-toggle="tab">content</a></li>
									<li role="presentation"><a href="#political"
										aria-controls="settings" role="tab" data-toggle="tab">supplement</a></li>
								</ul>   
		 
								<!-- Tab panes -->
							   <div class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active tabs1"
										id="home">
										<span th:each="tagt:${tags}"> <span
											class="label label-info tabs1a"
											th:if="${tagt.Categoryname=='country'}"
											th:each="tgst,stat:${tagt.ShowTags}"
											th:data-tagvalue="${tagt.valueTags[stat.index]}"
											onclick='selectTag(this)'><span
												class="glyphicon glyphicon-tags"></span><span  th:text="${'&nbsp;&nbsp;'+tgst}" ></span></span>


										</span>

	</div>


										
								
									<div role="tabpanel" class="tab-pane fade in tabs2"
										id="profile">
										<span th:each="tagt:${tags}">
													  <span
											class="label label-info tabs2a"
											th:if="${tagt.Categoryname=='topic'}"
											th:each="tgst,stat:${tagt.ShowTags}"
											th:data-tagvalue="${tagt.valueTags[stat.index]}"
											onclick='selectTag(this)'><span
												class="glyphicon glyphicon-tags"></span><a th:href="${'#'+tagt.valueTags[stat.index]}" data-toggle="tab"><span  th:text="${'&nbsp;&nbsp;'+tgst}" ></span></a></span>

                                         
										</span>
				 
									</div>
									<!-- <span  th:text="${'&nbsp;&nbsp;'+tgst}" ></span> -->
									<div>
									<div role="tabpanel" class="tab-pane fade in tabs3"
									  id="political">
									       <span>123456789</span>
									  </div>
									  </div>
									
					 <!-- 	<div th:each="tagt:${tags}">
									<div role="tabpanel" class="tab-pane fade in tabs3"
									  id="political">	
									  <span th:each="tagt:${tags}">
													  <span
											class="label label-info tabs2a"
											th:if="${tagt.Categoryname=='political'}"
											th:each="tgst,stat:${tagt.ShowTags}"
											th:data-tagvalue="${tagt.valueTags[stat.index]}"
											onclick='selectTag(this)'><span
												class="glyphicon glyphicon-tags"></span><span  th:text="${'&nbsp;&nbsp;'+tgst}" ></span></span>

                                         
										</span>			
									</div>
									<div role="tabpanel" class="tab-pane fade in tabs3"
									  id="legal">				
									</div>
									<div role="tabpanel" class="tab-pane fade in tabs3"
									  id="military">				
									</div>
									<div role="tabpanel" class="tab-pane fade in tabs3"
									  id="Technology">				
									</div>
									<div role="tabpanel" class="tab-pane fade in tabs3"
									  id="society">				
									</div>
									<div role="tabpanel" class="tab-pane fade in tabs3"
									  id="economic">				
									</div>
									<div role="tabpanel" class="tab-pane fade in tabs3"
									  id="entertainment">				
									</div>
								</div>   --> 
									


								</div>
								
                             								
								

							</div>
						</div> 
						<!--   -->
<!--   <div class="tab-content">
  <a href="#home" data-toggle="tab">a</a>
    <div role="tabpanel" class="tab-pane" id="home"><a href="#messages" data-toggle="tab">a</a></div>
    <div role="tabpanel" class="tab-pane" id="profile">b</div>
    <div role="tabpanel" class="tab-pane" id="messages">c</div>
    <div role="tabpanel" class="tab-pane" id="settings">d</div>
  </div>  -->
						
						
						
					</div>
					<button type="submit" class="btn btn-success publish">Publish</button>
				</form>
			</div>
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<h3>Guidelines for Problem Initiation</h3>
				Choose cash on delivery. When the order arrives, you can choose
				cash, POS card swipe, cheque to pay for the order, or use mobile
				phone to complete the payment of the order by scanning the order bar
				code on the package with the function of Jingdong APP mobile phone
				client [Sweep, Sweep]. POS Machine Card Brushing.
			</div>
		</div>
		<div th:if="${publisherror!=null}" class="alert alert-warning waring"
			th:text="${publisherror}" role="alert"></div>
	</div>
</body>
</html>