<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao_questiondao">
   
  <insert id="insertquestion">
       insert into question values(#{id},#{title},#{description},#{gmt_create},#{gmt_modify},#{createrid},#{comment_count},#{view_count},#{like_count},#{tag})
  </insert>
  <select id="equestion" resultType="com.example.demo.entity_question">
      select * from question order by gmt_modify DESC limit #{page},#{size}
  </select>
  <select id="count" resultType="int">
      select count(1) from question
  </select>
  <select id="countbyuserid" resultType="int">
     select count(1) from question where createrid=#{userid}
  </select>
  <select id="getbyid" resultType="com.example.demo.entity_question">
      select * from question where id=#{id};
  </select>
  <update id="update">
      update question set title=#{title},description=#{description},gmt_modify=#{gmt_modify},tag=#{tag} where id=#{id}
  </update>
  <update id="countaddview">
      update question set view_count=#{viewcount} where id=#{id}
  </update>
  <update id="countaddcomment">
      update question set comment_count=#{commentcount} where id=#{id}
  </update>
  <select id="tagquestion" resultType="com.example.demo.entity_question">
       select * from question where id!=#{id} and tag regexp #{tag}
   </select>
 
</mapper>