<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao_userdao">
  <select id="alluser" resultType="com.example.demo.entity_user">
       select * from user
  </select>
  <insert id="insertuser">
       insert into user values(#{id},#{login},#{token},#{gmt_creat},#{gmt_modify},#{bio},#{avatar_url})
  </insert>
  <select id="getfindbyuser" resultType="com.example.demo.entity_user">
        select * from user where id=#{id}
  </select>
  <delete id="deleteuser">
        delete from user where id=#{id}
  </delete>
</mapper>