<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title th:text="${sectionName}">Apple</title>
<link rel="stylesheet"
	href="http://localhost:8080/BPJprojects/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="http://localhost:8080/BPJprojects/css/bootstarp-theme.min.css" />
<link rel="stylesheet"
	href="http://localhost:8080/BPJprojects/css/index.css" />
<link rel="stylesheet"
	href="http://localhost:8080/BPJprojects/css/Profile.css" />
<script src="http://localhost:8080/BPJprojects/js/jquery-3.4.1.min.js"
	type="application/javascript"></script>
<script src="http://localhost:8080/BPJprojects/js/bootstrap.min.js"
	type="application/javascript"></script>

</head>
<body>
	<div th:insert="~{navgition :: nav}"></div>
	<div class="container-fluid question_publish">
		<div class="row profile">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${section=='Questions'}">
				<h2>
					<span th:text="${section}"></span>
				</h2>
				
				<div class="media" th:each="ques : ${Pagination.eq}">
					<div class="media-left">
						<a href="#"> <img class="media-object img-rounded"
							th:src="${ques.eu.avatar_url}">


						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading" th:text="${ques.title}">大台地区与图瓦卢共和国联合示湾(台湾)</h4>
 						<span class="text-des"><span
							th:text="${ques.comment_count}"></span>个回复 * <span
							th:text="${ques.view_count}"></span>个浏览 * 发布于<span
							th:text="${#dates.format(ques.gmt_create,'yyyy-MM-dd HH:mm:ss')}"></span></span>
					</div>
				</div>
				
								 <nav aria-label="Page navigation">
					<ul class="pagination">
						<li><a th:href="@{'?page=1'}" aria-label="Previous"
							th:if="${Pagination.showFirstPage}"> <span
								aria-hidden="true">&lt;&lt;</span>
						</a> <a th:href="@{'?page='+${Pagination.page-1}}" aria-label="Next"
							th:if=${Pagination.showPrevious}> <span aria-hidden="true">&lt;</span>
						</a></li>
						<li th:each="page : ${Pagination.pages}"
							th:class="${Pagination.page==page}? 'active' : ''"><a
							th:href="@{'?page='+${page}}" th:text="${page}"></a></li>

						<li><a th:href="@{'?page='+${Pagination.page+1}}"
							aria-label="Next" th:if="${Pagination.showNext}"> <span
								aria-hidden="true">&gt;</span>
						</a> <a th:href="@{'?page='+${Pagination.countpage}}"
							aria-label="Next" th:if="${Pagination.showEndPage}">
								<!-- --> <span aria-hidden="true">&gt;&gt;</span>
						</a></li>
					</ul>
				</nav>
			</div>
		  	<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${section=='Reply'}">
			    <h2>
					<span th:text="${section}"></span>
				</h2>
				
				<div class="media" th:each="notifytion : ${Pagination.eq}">
 					 <h4 class="media-heading">
					    <span th:text="${notifytion.notifyname+' '+notifytion.typevalue}"></span>
   					    <a th:href="@{'/notifycation/'+${notifytion.id}}" th:text="${' '+notifytion.commttypename}"></a>
   					    
 					 </h4>
 					    <span class="label label-danger" th:if="${notifytion.status==1}" th:text="UnRead"></span>
 					 <br/>
				</div>
				 <nav aria-label="Page navigation">
					<ul class="pagination">
						<li><a th:href="@{'?page=1'}" aria-label="Previous"
							th:if="${Pagination.showFirstPage}"> <span
								aria-hidden="true">&lt;&lt;</span>
						</a> <a th:href="@{'?page='+${Pagination.page-1}}" aria-label="Next"
							th:if=${Pagination.showPrevious}> <span aria-hidden="true">&lt;</span>
						</a></li>
						<li th:each="page : ${Pagination.pages}"
							th:class="${Pagination.page==page}? 'active' : ''"><a
							th:href="@{'?page='+${page}}" th:text="${page}"></a></li>

						<li><a th:href="@{'?page='+${Pagination.page+1}}"
							aria-label="Next" th:if="${Pagination.showNext}"> <span
								aria-hidden="true">&gt;</span>
						</a> <a th:href="@{'?page='+${Pagination.countpage}}"
							aria-label="Next" th:if="${Pagination.showEndPage}">
								<!-- --> <span aria-hidden="true">&gt;&gt;</span>
						</a></li>
					</ul>
				</nav>
			</div> 
 
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<div class="list-group section">
					<a href="/BPJprojects/profile/question" class="list-group-item"
						th:classappend="${section=='Questions'}?'active':''">My
						Question</a> <a href="/BPJprojects/profile/Reply"
						class="list-group-item"
						th:classappend="${section=='Reply'}?'active':''">Latest Reply<span
						class="badge" th:text="${notread}" th:if="${notread>0}">14</span></a>
				</div>


			</div>
		</div>
		<div th:if="${publisherror!=null}" class="alert alert-warning waring"
			th:text="${publisherror}" role="alert"></div>
	</div>

</body>
</html>